/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fredoka:wght@300;400;600&family=Rajdhani&display=swap');



/*variables*/
:root{
    --background-color1: #101010;
    --text-color1: white;
    --color-shadow: grey; 
    --card-border-radius: 2rem;
    --card-padding: 1.8rem;
    --box-shadow: 0 2rem 3rem var(--color-shadow)
}

/*styling*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}
.body{
    width: 100%;
    height: 100vh;
    font-family: fredoka, sans-serif ;
    font-size: 0.5rem;
    user-select: none;
    overflow-x: hidden;
    background-color: #f6f6f9;
    
}
a{
    color:black;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-size: 25px;
}
.main{
    width: 100vw;
    padding-right: 400px;
}
h2{
    font-size: 20px;
}
.text-muted{
    color: grey;

}
.container{
    display: grid;
    width: 100%;
    margin:0 auto;
    gap: 1.8rem;
  grid-template-columns: 15rem 5rem auto ; 
    
}
aside{
    height: 100vh;
    background-color: white;
}
aside .top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;

}
aside .logo{
    display: flex;
    gap: 0.5rem;
}
aside .logo img{
    width: 4rem;
    height: 2rem;
}
aside .side_bar{
    display: flex;
    flex-direction: column;
    position: relative;

}
aside .side_bar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 2.5rem;
    transition: all 300ms ease;
    
}
aside .side_bar a.active {
    background-color:grey;
    margin-left:0;
}
aside .side_bar a.active:before{
    content: "";
    width:6px;
    height:100%;
    background-color: #101010;
}
aside .side_bar a:hover{
    color:blue;
}

/*form styling*/

/*main section*/

/*medium sized screens*/

/*medium sized screens*/
@media screen and (max-width:1000px){
   
    .container{
      width:94%;
      grid-template-columns: 7rem auto 23rem;
     
   }
   aside .side_bar h2{
       display:none;
   }
   
   aside .side_bar a{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 2.5rem;
    transition: all 300ms ease;
    
}
aside .top{
    justify-content:left;
}
main .recent_orders{
   width: 90vw;
   transform: translateX(-20%);
   left: 50%;
   margin: 5rem 0 0 8rem;
 
}
main .the3{ 
    padding: 10px;
    width: 81vw;
}

main .recent_orders table{
    width: 80%;
}
  
}
/*styling the forms*/
.form_container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}
.form_container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.form_container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

/*styling table*/
.content_table{
    border-collapse: collapse ;
    margin: 25px;
    font-size: 14px;
    min-width: 400px;
  
  }
  .content_table thead tr{
    background-color: #097969;
    color: #fff;
    text-align: left;
    font-weight: bold;
  }
  .content_table th,
  .content_table td{
    padding: 12px 15px;
  }
  .content_table tbody tr {
    border-bottom: 1px solid #ddd;
  
  }
  .content_table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
  }
  .content{
    display: grid;
    max-width:960px ;
    margin: 0;
  
  }
