*{
    
    padding: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
h5{
    font-size:15px;
    color: white;
}
.form_card{
    width: 50vw;
    height:75vw;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
   
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
}
.form_input{
    width: 90%;
    background: transparent;
    border: 1px solid #fff ;
    margin: 5px 0 10px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    color: white; 
    cursor: pointer;

    
}
::placeholder {
    color: white;
    font-size: 20px;
}
.button{
    width: 30%;
    padding: 5px;
    background:#097969;
    border: 1px solid #fff ;
    height: 50px;
    font-size: 30px;
    margin: 35px 0 10px;
    border-radius: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    
}
.select{
    font-size: 20px;
    margin: 5px  10px;
    border: 1px solid #fff ;
    background: transparent;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    color: white;
}